html {
  background-color: black;
  width: auto;
  height: auto;

}

.MainTitle {
  text-align: center;
  padding:0px;
  margin: 0px;
}

.welcome h1 {
  font-size: 70px;
  opacity: .80;
  color: #c6560b;
  text-align: center;
}

.container {
  position: relative;
  text-align: center;
  color: black;
  font-family: helvetica;

}

@font-face {
  font-family: allura;
  src: url(Allura-Regular.ttf);
}
.container p {
  color: black;
  font-weight: bold;
  font-style: italic;
  font-size: 42px;
  font-family: allura;
  position: absolute;
  width: 1350px;
  height: 450px;
  left: 200px;
  right: 240px;
  bottom: 8px;
  overflow: auto;




  }



.parchment {
  width: 80%;
  height: 500px;
  position: relative;
  opacity: .75;
}

.updates p {
  color: white;
  background-color: black;
  opacity: .75;
  font-size: 35px
}

.updates h1 {
  font-size: 70px;
  opacity: .80;
  color: #c6560b;
}

.links {
  background-color: blue;
  left: 200px;

}

ul {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

li {
  display: inline-block;
  color: white;
  opacity: .75;
  width: 200px;
  margin:0px;
  padding:0px;

}

a {
  color: white;
  font-size: 32px;



}
